page-login {
    .log-logo {
        text-align: center;
    }
    
    .strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap; 
    }

    .strike > span {
        position: relative;
        display: inline-block;
    }
	
    .strike > span:before,
    .strike > span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        /* Here is the modification */
        height: 5px; /* space between lines */
        margin-top: -2px; /* adjust vertical align */
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .strike > span:before {
        right: 100%;
        margin-right: 15px;
    }

    .strike > span:after {
        left: 100%;
        margin-left: 15px;
    }
}
